/* table左边的checkbox */
.el-checkbox {
    margin: 0px;
    margin-left: 2px;
}

/* 设置table行高 */
.el-table th > .cell {
    height: 40px;
    line-height: 40px;
}

/* 设置table行高 */
.el-table__row .cell {
    height: 45px;
    line-height: 45px;
}

.el-table--enable-row-transition .el-table__body td, .el-table td, .el-table th {
    padding: 0px;
}

/* 设置table悬浮颜色 */
.el-table--enable-row-hover .el-table__body tr:hover > td {
    background: #f6faff;
}

.el-table--enable-row-transition .el-table__body td, .el-table td, .el-table th {
    border: 0px !important;
}

.el-table th.is-leaf, tr .gutter {
    background: aliceblue;
}

.el-button--mini {
    font-size: 11px;
    padding: 6px 8px;
}

/* 取消button间的自动间隔 */
.el-button + .el-button {
    margin-left: 0px;
}

/* 弹窗 */
.el-dialog {
    width: 654px;
    margin-top: 30px !important;
}

/* 弹窗固定上下移动 */
.el-dialog__wrapper {
    /*overflow-y: hidden;*/
}

/* 选择框宽度 */
.el-select.el-select--mini {
    width: 100px;
!important;
}

.el-select.el-select--small {
    width: 150px;
!important;
}

.el-select {
    width: 200px;
}

.el-input__inner {
    font-size: 12px !important;
    height: 40px !important;
}

/* 折叠面板 */
.el-collapse-item__content {
    padding: 0 5px 0 80px;
}

.el-collapse-item__header {
    padding: 0 50px 0 35px;
    color: rgb(144, 147, 153);
}

/* 筛选 */
.el-form-item {
    margin-bottom: 0;
}

.my-flex-div {
    display: flex;
    height: 40px;
}

.my-title {
    color: rgb(144, 147, 153);
    font-size: 12px;
    width: 80px;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

.el-input__inner {
    height: 28px !important;
}

.el-input__icon {
    line-height: 28px !important;
}

.el-collapse-item__content .el-form {
    width: 50vw;
}

.el-collapse-item__content {
    display: flex !important;
}

.dialog_height{
    height: 500px;
    overflow: auto;;
}